:81 {
        @transform_port_query {
                query XTransformPort=8080
        }

        handle @transform_port_query {
                reverse_proxy localhost:8080 {
                        header_up Host {host}
                        header_up X-Forwarded-For {remote_host}
                        header_up X-Forwarded-Proto {scheme}
                        header_up X-Real-IP {remote_host}
                }
        }

        handle {
                reverse_proxy localhost:3000 {
                        header_up Host {host}
                        header_up X-Forwarded-For {remote_host}
                        header_up X-Forwarded-Proto {scheme}
                        header_up X-Real-IP {remote_host}
                }
        }
}